body {
  margin: 0;
  background: linear-gradient(
    to left bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  /* background-size: cover; */
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: white;
  height: 65%;
  width: 65%;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.bg-illustration {
  position: relative;
  transform: scale(1.15);
  top: 16%;
  left: -14%;
  z-index: 2;
}

.bg-shadow {
  position: absolute;
  left: -43%;
  top: -40%;
}

.box-illustration {
  position: relative;
  top: 2%;
  left: 5%;
  z-index: 3;
}

.answer {
  display: none;
}

footer {
}
