body {
  margin: 0;
  background: linear-gradient(
    to left bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  /* background-size: cover; */
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: white;
  height: 70%;
  width: 70%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.bg-illustration {
  position: relative;
  z-index: 2;
}

.bg-shadow {
  position: absolute;
  left: -20%;
  top: -43%;
  overflow: hidden;
}

.box-illustration {
  z-index: 3;
}
