body {
  margin: 0;
  background: linear-gradient(
    to left bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  /* background-size: cover; */
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  background-color: white;
  height: 65%;
  width: 65%;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 28px 15px rgba(0, 0, 0, 0.2);
}

.bg-illustration {
  position: relative;
  transform: scale(1.15);
  top: 16%;
  left: -14%;
  z-index: 2;
}

.bg-shadow {
  position: absolute;
  left: -43%;
  top: -40%;
}

.box-illustration {
  position: relative;
  top: 2%;
  left: 5.1%;
  z-index: 3;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin: 60px 150px;
  font-size: 18px;
}

.heading {
  margin-bottom: 55px;
}

.dropdown-question {
  margin-bottom: 55px;
}

.answer {
  display: none;
}

footer {
  color: white;
  position: absolute;
  bottom: 0;
}
