body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.card-container {
  max-width: 55vw;
  min-height: 55vh;
  padding: 55px 100px 70px 0px;
  background-color: #ffffff;
  box-shadow: 12px 22px 22px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0px 0px 30px;
}

.illustrations {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 2;
}

.woman-container {
  position: relative;
  overflow: hidden;
  z-index: 3;
}

.box-illustration {
  position: absolute;
  top: 135px;
  left: -92px;
  z-index: 4;
}

.woman-online-illustration {
  display: block;
  position: relative;
  margin: 0px 100px 0px -80px;
}

.desktop-illustration {
  display: block;
}

.mobile-illustration {
  display: none;
  position: absolute;
  top: -257px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  width: 260px;
  height: auto;
  z-index: 5;
}

.background-pattern {
  display: none;
  position: absolute;
  z-index: 4;
  width: 260px;
  height: auto;
  top: -142px;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  color: hsl(240, 6%, 50%);
  font-weight: 400;
  transition: color 0.3s, font-weight 0.3s;
}

.dropdown-item.active {
  border-bottom: none;
}

.dropdown-item.active .question {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.dropdown-item.active + .hidden-text {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.dropdown-item.active .arrow {
  transform: rotate(180deg);
}

.question {
  margin: 18.72px 0px 15px;
  font-weight: 400;
  color: hsl(237, 12%, 33%);
}

.question:hover {
  color: hsl(14, 88%, 65%);
}

.arrow {
  height: 9px;
  width: 12px;
  transition: transform 0.3s;
}

.question,
.arrow {
  cursor: pointer;
}

.hidden-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  padding: 0 0;
  color: hsl(240, 6%, 50%);
}

.hidden-text p {
  margin: 0px 0px 25px;
}

.hidden-text.active {
  max-height: 1000px;
}

@media (max-width: 375px) {
  .card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    padding: 140px 20px 50px 20px;
    box-shadow: 12px 22px 40px rgba(0, 0, 0, 0.3);
  }

  .desktop-illustration {
    display: none;
  }

  .mobile-illustration {
    display: block;
  }

  .background-pattern {
    display: block;
  }

  .box-illustration {
    display: none;
  }

  h1 {
    margin-bottom: 18px;
    text-align: center;
    font-size: 34px;
  }

  h2,
  h3 {
    font-size: 14.5px;
  }

  p {
    font-size: 13.5px;
  }

  .dropdown-item {
    padding: 5px 0px;
  }

  .arrow {
    margin-left: 16px;
  }
}
