body {
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card-container {
  width: 100%;
  max-width: 1200px;
  max-height: 800px;
  padding: 60px 100px 50px 0px;
  background-color: #ffffff;
  box-shadow: 12px 22px 22px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
  overflow: hidden; /* Ensure content inside does not protrude rounded corners */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.illustrations {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-illustration {
  position: absolute;
}

/* 
.women-online-illustration {
} */

.dropdown-item {
  display: flex;
  align-items: center;
}

/* .arrow {
} */

.hidden-text {
  display: none;
}
